generator:
  class: sfDoctrineGenerator
  param:
    model_class:           JtPosts
    theme:                 admin
    non_verbose_templates: true
    with_show:             true
    singular:              posts
    plural:                jt_posts_list
    route_prefix:          jt_posts
    with_doctrine_route:   true
    actions_base_class:    sfActions
    config:  
      actions: ~
      fields:
        post_title:    {  }
        post_date : { }
        post_content : { }
      list:
        title:          Posts
        display: [post_status, =post_title, post_date]
        max_per_page:   10
        sort:           [post_date, desc]
      edit:
        display: [post_title, post_date, post_content, post_author, post_status]
      filter:
        display : [ post_status, post_date ]
      form:
        display: [post_title, post_content]
      new:     
        display: [ post_title, post_content, post_date ]
